.btn {
    background-color: #caa169;
    border: #caa169;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.page-link.active {
    background-color: #caa169;
    color: #fff; /* Màu chữ trắng */
    border-color: #caa169;
}

 .page-link {
    color: #caa169;
}

.page-link[aria-label="Previous"],
.page-link[aria-label="Next"] {
    color: #caa169;
}

/* Thu nhỏ font chữ cho toàn bộ trang */
body {
    font-size: 14px; /* Điều chỉnh kích thước font chữ theo ý muốn */
  }
  
  /* Thu nhỏ h4 */
  h4 {
    font-size: 16px; /* Điều chỉnh kích thước của tiêu đề h4 */
  }
  
  /* Thu nhỏ kích thước của button */
  .btn {
    font-size: 14px;
    padding: 5px 10px; /* Điều chỉnh padding để làm cho nút nhỏ hơn */
  }
  
  /* Thu nhỏ các lựa chọn select */
  select {
    font-size: 14px;
  }
  
  /* Thu nhỏ biểu tượng */
  .bi {
    font-size: 14px;
  }
  
  /* Thu nhỏ độ rộng của phần tử popup */
  .popup-content {
    max-width: 400px; /* Điều chỉnh độ rộng theo ý muốn */
  }
  
  /* Thu nhỏ font chữ của phần tử form */
  form {
    font-size: 14px;
  }
  
  /* Thu nhỏ kích thước checkbox */
  .form-check-input {
    transform: scale(0.8); /* Điều chỉnh kích thước checkbox theo ý muốn */
  }
  
/*css for popup*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Màu đen với độ trong suốt 70% */
    z-index: 999; /* Đảm bảo lớp này ở phía trên cùng */
  }

  /* Thêm animation để làm mờ hiển thị và ẩn dần dần */
  .overlay.active {
    display: block;
    animation: fadeIn 0.3s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1000; /* Đảm bảo popup nằm trên overlay */
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px; /* Đặt vị trí bên phải */
    cursor: pointer;
  }


  /* CSS cho radio button */
.form-check-input[type="radio"] {
    /* Điều chỉnh kiểu dáng và kích thước của radio button */
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* Tùy chỉnh hình dạng nền và viền */
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
  }
  
  /* CSS cho radio button đã được chọn */
  .form-check-input[type="radio"]:checked {
    background-color: #caa169;
    border: 2px solid #caa169;
  }
  
  /* CSS cho nhãn của radio button */
  .form-check-label {
    /* Điều chỉnh kiểu dáng của nhãn */
    font-size: 16px;
    color: #333;
  }
  thead input {
        width: 100%;
    }