.btn {
    background-color: #caa169;
    border: #caa169;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.page-link.active {
    background-color: #caa169;
    color: #fff; /* Màu chữ trắng */
    border-color: #caa169;
}

 .page-link {
    color: #caa169;
}

.page-link[aria-label="Previous"],
.page-link[aria-label="Next"] {
    color: #caa169;
}
