body {
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1rem;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

  
.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
}
ul{
    list-style: none;
    padding: 0px;
}
h2{
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--primary-text);
  font-family: var(--secondary-font);
}
h2 span{
  color: var(--secondary-color);
}
input {
  border: none;
  outline: none;
}
button {
  background: #CC8C18;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
}
.featured-box{
    width: 390px;
    height: 345px;
    border: 1px solid whitesmoke;
    padding: 14px;
    margin: 30px 50px;
    position: relative;
    overflow: hidden;
}

b, p{
    padding: 5px;
    color: black;
}
p1 {
  margin-bottom: 20px;
  text-align:center;    
}
.see-now{
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: -42px;
    transition: all 0.5s;
}
.featured-box:hover .see-now{
    text-decoration: none;
    background-color: #caa169;
    color: white;
    bottom: 0px;
}

.justify-content-between{
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.d-flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.border-bottom{
    border-bottom: 1px solid white;
}
/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .site-blocks-cover.overlay {
      position: relative; }
      .site-blocks-cover.overlay:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4); }
    .site-blocks-cover, .site-blocks-cover .row {
      min-height: 600px;
      height: calc(100vh); }
    .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
      min-height: 600px;
      height: calc(40vh); }
    .site-blocks-cover .sub-text {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
      letter-spacing: .2em; }
    .site-blocks-cover h1 {
      color: #fff;
      font-size: 3rem;
      font-family: "Playfair Display"; }
      @media (min-width: 768px) {
        .site-blocks-cover h1 {
          font-size: 4rem;
          font-weight: 900;
          line-height: 1.2; } }
    .site-blocks-cover p {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5; }
    .site-blocks-cover .intro-text {
      font-size: 16px;
      line-height: 1.5; }
  
  .site-heading {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem; }
    @media (min-width: 768px) {
      .site-heading {
        font-size: 3rem; } }
    .site-heading strong {
      font-weight: 900; }
  
    @media (min-width: 992px) {
      .site-block-1 {
        padding-top: 0;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%); } }
  
  .site-block-appointment {
    background: #ece8d9 !important; }
    .site-block-appointment form {
      -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }
  
  .text-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5); }
  
  .text-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5); }
  
  @media (max-width: 767.98px) {
    .site-block-feature .d-block {
      border-bottom: none !important; } }
  
  .site-block-feature .item {
    width: 50%; }
    @media (max-width: 767.98px) {
      .site-block-feature .item {
        width: 100%;
        border-right: none !important;
        border-bottom: none !important; } }
  
  .site-block-feature-2 .icon {
    font-size: 50px;
    position: relative;
    line-height: 1; }
  
  .site-block-feature-2 h3 {
    font-size: 1.5rem; }
  
  
  .site-block-half .image, .site-block-half .text {
    width: 100%; }
    @media (min-width: 992px) {
      .site-block-half .image, .site-block-half .text {
        width: 50%; } }
  
  @media (max-width: 991.98px) {
    .site-block-half .image {
      margin-bottom: 50px; } }
  
  .site-block-half .text {
    padding: 15px; }
    @media (min-width: 992px) {
      .site-block-half .text {
        padding: 4rem; } }
    @media (min-width: 1200px) {
      .site-block-half .text {
        padding: 8rem; } }
  
  .site-block-half .bg-image {
    background-position: center center; }
    @media (max-width: 991.98px) {
      .site-block-half .bg-image {
        height: 400px; } }
  
  .site-block-half.site-block-video .image {
    position: relative; }
    .site-block-half.site-block-video .image .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px;
      width: 70px;
      height: 70px;
      background: #fff;
      display: block;
      border-radius: 50%;
      opacity: 1;
      color: #f23a2e !important; }
      .site-block-half.site-block-video .image .play-button:hover {
        opacity: 1; }
      .site-block-half.site-block-video .image .play-button > span {
        position: absolute;
        left: 55%;
        top: 50%;
        -webkit-transform: translate(-60%, -50%);
        -ms-transform: translate(-60%, -50%);
        transform: translate(-60%, -50%); }
  
  .site-block-testimony img {
    max-width: 140px;
    border-radius: 50%; }
  
  .site-block-testimony p {
    font-size: 1.2rem; }
  
  .site-block-testimony.active {
    background: #fff;
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }
  
  .post-entry {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6; }
    .post-entry, .post-entry .text {
      border-radius: 4px;
      border-top: none !important; }
    .post-entry .date {
      color: #a6a6a6;
      font-weight: normal;
      letter-spacing: .1em; }
    .post-entry .image {
      overflow: hidden;
      position: relative; }
      .post-entry .image img {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
    .post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  
  .slide-one-item.home-slider .owl-nav {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute !important;
    top: 50% !important;
    bottom: auto !important;
    width: 100%; }
  
  .slide-one-item.home-slider .owl-prev {
    left: 10px !important; }
  
  .slide-one-item.home-slider .owl-next {
    right: 10px !important; }
  
  .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
    color: #fff;
    position: absolute !important;
    top: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    border-radius: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px; }
    @media (min-width: 768px) {
      .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
        font-size: 25px; } }
    .slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
      position: absolute;
      line-height: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-next:focus {
      background: black; }
  
  .slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
    opacity: 1;
    visibility: visible; }