html,
body {
    height: 100%;
    font-family: "Taviraj", serif;
    -webkit-font-smoothing: antialiased;
    background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 500;
    font-family: "Taviraj", serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 10px;
    color: #858585;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 25px;
    margin: 0px 0px 10px 0px;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #081624;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 40px;
    font-style: normal;
}

.room-section {
    margin-left: 5rem;
    width: 100%;
}

.rooms-page-item {
    -webkit-box-shadow: 2px 15px 75px 6px #EBEBEB;
    box-shadow: 2px 15px 75px 6px #EBEBEB;
    margin-bottom: 100px;
}

.rooms-page-item .room-pic-slider .single-room-pic img {
    height: 300px;
    padding-left: 2rem;
}

.rooms-page-item .room-pic-slider.owl-carousel .owl-nav button[type=button] {
    color: #AE9548;
    font-size: 26px;
    height: 69px;
    width: 52px;
    background: #353535;
    line-height: 72px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-34.5px);
    transform: translateY(-34.5px);
}

.rooms-page-item .room-pic-slider.owl-carousel .owl-nav button[type=button].owl-next {
    left: auto;
    right: 0;
}

.rooms-page-item .room-text {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 34px;
}

.rooms-page-item .room-text .room-title {
    overflow: hidden;
    margin-bottom: 18px;
    padding-right: 40px;
}

.rooms-page-item .room-text .room-title h2 {
    float: left;
    font-size: 33px;
    color: #2d220f;
}

.rooms-page-item .room-text .room-title h4 {
    padding-left: 3rem;
    font-size: 20px;
}

.rooms-page-item .room-text .room-title .room-price {
    float: right;
    position: absolute;
}

.rooms-page-item .room-text .room-title .room-price span {
    position: absolute;
    left: -40px;
    bottom: 7px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 14px;
    color: #2d220f;
}

.rooms-page-item .room-text .room-title .flex-container h2 {
    font-size: 20px;
    color: #081624;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.rooms-page-item .room-text .room-title .room-price sub {
    position: absolute;
    right: -37px;
    bottom: 13px;
    color: #2d220f;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.rooms-page-item .room-text .room-desc {
    margin-bottom: 20px;
}

.rooms-page-item .room-text .room-desc p {
    font-size: 16px;
    color: #242424;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.rooms-page-item .room-text .room-desc2 p {
    font-size: 11px;
    color: #242424;
    padding-left: 3rem;
    margin-top: 1rem;
}

.rooms-page-item .room-text .room-features {
    overflow: hidden;
    margin-bottom: 35px;
}

.rooms-page-item .room-text .room-features .room-info {
    float: left;
    text-align: center;
    margin-right: 55px;
}

.rooms-page-item .room-text .room-features .room-info.last {
    margin-right: 0;
}

.rooms-page-item .room-text .room-features .room-info i {
    display: block;
    color: #ae9548;
    margin-bottom: -4px;
}

.rooms-page-item .room-text .room-features .room-info span {
    display: block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #2d220f;
}

/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.site-blocks-cover.overlay {
    position: relative;
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
    min-height: 600px;
    height: calc(40vh);
}

.site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em;
}

.site-blocks-cover h1 {
    color: #fff;
    font-size: 3rem;
    font-family: "Playfair Display";
}

@media (min-width: 768px) {
    .site-blocks-cover h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.2;
    }
}

.site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.site-heading {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .site-heading {
        font-size: 3rem;
    }
}

.site-heading strong {
    font-weight: 900;
}

@media (min-width: 992px) {
    .site-block-1 {
        padding-top: 0;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.site-block-appointment {
    background: #ece8d9 !important;
}

.site-block-appointment form {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

.text-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
    .site-block-feature .d-block {
        border-bottom: none !important;
    }
}

.site-block-feature .item {
    width: 50%;
}

@media (max-width: 767.98px) {
    .site-block-feature .item {
        width: 100%;
        border-right: none !important;
        border-bottom: none !important;
    }
}

.site-block-feature-2 .icon {
    font-size: 50px;
    position: relative;
    line-height: 1;
}

.site-block-feature-2 h3 {
    font-size: 1.5rem;
}


.site-block-half .image,
.site-block-half .text {
    width: 100%;
}

@media (min-width: 992px) {

    .site-block-half .image,
    .site-block-half .text {
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .site-block-half .image {
        margin-bottom: 50px;
    }
}

.site-block-half .text {
    padding: 15px;
}

@media (min-width: 992px) {
    .site-block-half .text {
        padding: 4rem;
    }
}

@media (min-width: 1200px) {
    .site-block-half .text {
        padding: 8rem;
    }
}

.site-block-half .bg-image {
    background-position: center center;
}

@media (max-width: 991.98px) {
    .site-block-half .bg-image {
        height: 400px;
    }
}

.site-block-half.site-block-video .image {
    position: relative;
}

.site-block-half.site-block-video .image .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #f23a2e !important;
}

.site-block-half.site-block-video .image .play-button:hover {
    opacity: 1;
}

.site-block-half.site-block-video .image .play-button>span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.site-block-testimony img {
    max-width: 140px;
    border-radius: 50%;
}

.site-block-testimony p {
    font-size: 1.2rem;
}

.site-block-testimony.active {
    background: #fff;
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

.post-entry {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.post-entry,
.post-entry .text {
    border-radius: 4px;
    border-top: none !important;
}

.post-entry .date {
    color: #a6a6a6;
    font-weight: normal;
    letter-spacing: .1em;
}

.post-entry .image {
    overflow: hidden;
    position: relative;
}

.post-entry .image img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.post-entry:hover .image img,
.post-entry:active .image img,
.post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.slide-one-item.home-slider .owl-nav {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute !important;
    top: 50% !important;
    bottom: auto !important;
    width: 100%;
}

.slide-one-item.home-slider .owl-prev {
    left: 10px !important;
}

.slide-one-item.home-slider .owl-next {
    right: 10px !important;
}

.slide-one-item.home-slider .owl-prev,
.slide-one-item.home-slider .owl-next {
    color: #fff;
    position: absolute !important;
    top: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    border-radius: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px;
}

@media (min-width: 768px) {

    .slide-one-item.home-slider .owl-prev,
    .slide-one-item.home-slider .owl-next {
        font-size: 25px;
    }
}

.slide-one-item.home-slider .owl-prev>span,
.slide-one-item.home-slider .owl-next>span {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slide-one-item.home-slider .owl-prev:hover,
.slide-one-item.home-slider .owl-prev:focus,
.slide-one-item.home-slider .owl-next:hover,
.slide-one-item.home-slider .owl-next:focus {
    background: black;
}

.slide-one-item.home-slider:hover .owl-nav,
.slide-one-item.home-slider:focus .owl-nav,
.slide-one-item.home-slider:active .owl-nav {
    opacity: 1;
    visibility: visible;
}

/*----------------------- Responsive Media Styles -------------------------*/

@media (min-width: 1200px) {
    .container {
        max-width: 1176px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .room-item .room-text .room-features .room-info {
        margin-right: 28px;
    }

    .rooms-page-item .room-text .room-desc p {
        line-height: 24px;
    }

    .rooms-page-item .room-text {
        padding-bottom: 26px;
    }
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rooms-page-item .room-text {
        padding-left: 35px;
    }

    .rooms-page-item .room-pic-slider .single-room-pic img {
        height: auto;
    }
}

/* Large Mobile Device: 480px */

@media only screen and (max-width: 767px) {
    .room-item .room-text .room-features .room-info {
        margin-right: 28px;
    }

    .rooms-page-item .room-text {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .rooms-page-item .room-pic-slider .single-room-pic img {
        height: auto;
    }
}

/* Small Mobile Device: 320px */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .room-item .room-text {
        padding-left: 20px;
        padding-top: 35px;
        padding-right: 12px;
    }

    .room-item .room-text .room-title h2 {
        font-size: 25px;
    }

    .room-item .room-text .room-title .flex-container h2 {
        font-size: 25px;
    }
}

.book-btn {
    padding-top: 10px;
    text-align: center;
    padding-right: 11rem;
}

.book-btn p {
    font-size: 13px;
}

.book-btn .price-btn {
    font-size: larger;
}

.booking-area .row .col-lg .main-btn {
    margin-top: 30px;
}

.calendar-price p {
    font-size: 13px;
    line-height: 1rem;
    text-align: start;
}

.carousel-inner {
    background-color: #ece8d9;
}

.carousel-control-prev-icon {
    margin-right: 8rem;
}

.carousel-control-next-icon {
    margin-left: 8rem;
}