<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap5 CND Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/userProfile.css">
    <link rel="stylesheet" href="/assets/css/header_footer_style.css">
    <link rel="stylesheet" href="/assets/css/header-footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
		.error{
			color:red ;
		}
	</style>
</head>

<body data-bs-target=".navbar" data-bs-offset="100">
       <header th:replace = "~{header :: header}">
		
	</header>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Hồ sơ người dùng
        </h4>
      
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">Chung</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-info">Thông tin thêm</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                               <img th:src="@{'/assets/img/' + ${user.image}}" width="200%" height="200%" alt
                                    class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                 <!--   <label class="btn btn-outline-primary">
                                        Tải ảnh lên
                                        <input type="file" id="profileImage" name="file"  class="account-settings-fileinput">
                                    </label> &nbsp;-->
                                </div>
                            </div>
                            <hr class="border-light m-0">
                       								
							
											
									
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Tên tài khoản</label>
                                    <span type="text" class="form-control mb-1" id="name" name="name" th:text="${user.name}" readonly />
                                     <br>
                                     
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <span type="email" class="form-control mb-1"  id="email" name="email" th:text="${user.email}"   readonly />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Số điện thoại</label>
                                    <span type="text" class="form-control"  id="phone" name="phone" readonly   th:text="${user.phone}" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Ngày sinh</label>
                                    <span  class="form-control" name="dob" th:text="${user.dob}" readonly placeholder="Date" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" >Giới tính</label>
                                    <span class="form-control" id="gender" name="gender" readonly th:text="${user.gender}" />

                                
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body pb-2">
                                    <div class="form-group">
                                    <label class="form-label">Địa chỉ</label>
                                       <span type="text" class="form-control" id="address" name="address" readonly  th:text="${user.address}"/><br>
                                   
                                </div>
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
            <div class="container_swap">
                <div class="div_left">
                  <a class="btn_fix" th:href="@{/customer/updateprofile}">Chỉnh sửa</a>
                </div>
            </div>
        </div>
            
    </div>
    <section id="contact" class="footer_wrapper mt-3 mt-md-3 pb-0">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h5>3HKT Hotel</h5>
                    <p class="ps-0">Để biết thêm chi tiết về khách sạn Hà Nội 3HKT  hay góp ý với chúng tôi, 
                        quý khách vui lòng để lại thông tin, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
                    <div class="contact-info">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-home me-3"></i> 67 Phùng Khoang, Trung Văn, Từ Liêm, Hà Nội</a></li>
                            <li><a href="#"><i class="fa fa-phone me-3"></i>+84 388 663 366</a></li>
                            <li><a href="#"><i class="fa fa-envelope me-3"></i>reservation@3hkthotel.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Liên kết khác</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#">Văn phòng</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Cửa hàng</a></li>
                        <li><a href="#">Chính sách</a></li>
                        <li><a href="#">Mua thẻ quà tặng</a></li>
                        <li><a href="#">Tín dụng</a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Hợp tác</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#">Nhà hàng</a></li>
                        <li><a href="#">Spa</a></li>
                        <li><a href="#">Bar</a></li>
                        <li><a href="#">Quán Karaoke</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Cập nhật tin tức</h5>
                    <div class="form-group mb-4">
                        <input type="email" class="form-control bg-transparent" placeholder="Nhập email của bạn tại đây">
                        <button type="submit" class="main-btn rounded-2 mt-3 border-white text-white">Gửi</button>
                    </div>
                    <h5>Kết nối với chúng tôi</h5>
                    <ul class="social-network d-flex align-items-center p-0">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="container-fluid copyright-section">
            <p>Copyright <a href="#">3HKT Hotel</a> All Rights Reserved</p>
        </div>
    </section>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
    </script>
    <!-- Bootstrap 5 JS CDN Links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Custom Js Link -->
    <script src="/assets/js/main.js"></script>
</body>

</html>