<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yêu cầu hoàn tiền</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

	<link rel="stylesheet" type="text/css" href="/assets/css/manager.css" />
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <script src="/assets/js/sidebar.js"></script>
	<script src="/assets/js/manager.js"></script>
	<link rel="stylesheet" href="/assets/css/header-footer.css">
	<link rel="stylesheet" href="/assets/css/header_footer_style.css">
</head>

<body>

	<body data-bs-target=".navbar" data-bs-offset="100"></body>
	<header th:replace="~{header :: header}"></header>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header border-bottom">
                    <img src="/assets/img/Orilogo.png"  class="img-fluid">
            </div>

            <ul class="list-unstyled components border-bottom">
                <p class="border-bottom fw-bold"><i class="bi bi-person-badge-fill pe-1"></i>Kế toán</p>
                <li>
                    <a href="#"><i class="bi bi-currency-exchange pe-1"></i>Doanh thu</a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-list-columns-reverse pe-1"></i>Lịch sử giao dịch</a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-arrow-return-left pe-1"></i>Hoàn tiền</a>
                </li>
            </ul>
            
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg shadow ">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <button class=" btn bi-person-circle " style="font-size: 2em;"></button>
                </div>
            </nav>
            
                <div class="table-responsive">
                    <p class="fw-bold"> Các yêu cầu hoàn tiền</p>
                    <table id="myTable" class="table table-striped table-hover border align-baseline shadow">
                        <thead class="table-dark" id="thead">
                            <tr id="theadtr">
                                <th scope="col">STT</th>
                                <th scope="col">Mã đặt phòng</th>
                                <th scope="col">Tên khách hàng</th>
                                <th scope="col">Ngày nhận phòng</th>
                                <th scope="col">Ngày trả phòng</th>
                                <th scope="col">Loại phòng</th>
                                <th scope="col">Số phòng đặt</th>
                                <th scope="col">Số tiền hoàn</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <th scope="row">1</th>
                                <td>1001</td>
                                <td>Nguyen Ngoc Khoa</td>
                                <td>30/10/2023</td>
                                <td>31/10/2023</td>
                                <td>Phòng đôi</td>
                                <td>2</td>
                                <td>1.200.000</td>
                                <td>Đã xác nhận</td>
                                <td><button class="btn btn-dark">Chi tiết</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>1001</td>
                                <td>Nguyen Ngoc Khoa</td>
                                <td>30/10/2023</td>
                                <td>31/10/2023</td>
                                <td>Phòng đôi</td>
                                <td>2</td>
                                <td>1.200.000</td>
                                <td>Đã xác nhận</td>
                                <td><button class="btn btn-dark">Chi tiết</button></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>1001</td>
                                <td>Nguyen Ngoc Khoa</td>
                                <td>30/10/2023</td>
                                <td>31/10/2023</td>
                                <td>Phòng đôi</td>
                                <td>2</td>
                                <td>1.200.000</td>
                                <td>Đã xác nhận</td>
                                <td><button class="btn btn-dark">Chi tiết</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
        </div>
    </div>


		
	

	<section th:replace="~{footer :: footer}"></section>
</body>

</html>