<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>Danh sách dịch vụ</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap5 CND Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="/assets/css/header-footer.css">
    <link rel="stylesheet" href="/assets/css/listServiceCustomer.css">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
</head>
<style>
    .current-page {
        background-color: #007BFF;
        color: white;
    }

    /* Thêm CSS cho dòng details */
    .details {
        display: none;
    }
</style>

<body data-bs-target=".navbar" data-bs-offset="100">
<header th:replace="~{header :: header}">
</header>

<div id="content">
    <div class="site-blocks-cover overlay" style="background-image: url(assets/img/rooms/background.jpg);"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container1">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center" data-aos="fade">
                    <p1>Dịch vụ nhiệt thành</p1>
                    <h1 class="mb-4">Dịch vụ khách sạn</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-head">
            <h2>Dịch vụ chính của chúng tôi</h2>
        </div>
        <hr>
        <div class="d-flex">
            <form class="ms-auto" style="margin-right: 50px;" method="get" action="/services">
                <input type="text" name="serviceName" th:value="${serviceName}" placeholder="Tìm kiếm tên dịch vụ">
                <button type="submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="container">
            <ul class="list-featured-box d-flex-wrap justify-content-center">
                <li class="featured-box" th:each="service : ${services}">
                    <a href="#" class="post-thumb">
                        <img th:src="@{'/assets/img/services/' + ${service.serviceImage}}" width="360"
                             height="245"/>
                    </a>
                    <b th:text="${service.serviceName}">Service Name</b>
                    <!--<a href="#" class="see-now">Xem ngay</a>-->
                    <a th:href="@{/service-details(serviceId=${service.serviceId})}" class="see-now">Xem ngay</a>
                </li>
            </ul>


        </div>

    </div>
</div>
<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
        <!-- Nút nhảy đến đầu trang -->
        <li class="page-item">
            <a class="page-link" th:href="@{/services(page=0, serviceName=${serviceName})}">
                <span aria-hidden="true">Đầu</span>
            </a>
        </li>
        <li th:if="${currentPage > 0}" class="page-item">
            <a class="page-link" th:href="@{/services(page=${currentPage - 1}, serviceName=${serviceName})}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>


        <!-- Hiển thị trang hiện tại và trang liền kề trước sau -->
        <li th:each="page, stat : ${#numbers.sequence(0, totalPages - 1)}" class="page-item">
            <span th:if="${currentPage > 1 and page == 0}" class="ellipsis">...</span>
            <a th:if="${page == currentPage}" class="page-link current-page" th:text="${page + 1}"></a>
            <a th:if="${page == currentPage - 1}" class="page-link"
               th:href="@{/services(page=${page}, serviceName=${serviceName})}" th:text="${page + 1}"></a>
            <a th:if="${page == currentPage + 1}" class="page-link"
               th:href="@{/services(page=${page}, serviceName=${serviceName})}" th:text="${page + 1}"></a>
            <span th:if="${currentPage < totalPages - 2 and page == totalPages - 1}" class="ellipsis">...</span>
        </li>

        <li th:if="${currentPage < totalPages - 1}" class="page-item">
            <a class="page-link" th:href="@{/services(page=${currentPage + 1}, serviceName=${serviceName})}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <!-- Nút nhảy đến cuối trang -->
        <li class="page-item">
            <a class="page-link" th:href="@{/services(page=${totalPages - 1}, serviceName=${serviceName})}">
                <span aria-hidden="true">Cuối</span>
            </a>
        </li>
    </ul>
</nav>


<section th:replace="~{footer :: footer}"></section>


<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Custom Js Link -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/aos.js"></script>
"
</body>

</html>