<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
	<title>Danh sách tin tức</title>

	<!-- FAVICON -->
	<link rel="icon" type="image/png" href="">

	<!-- Bootstrap5 CND Links -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

	<!-- Custom File's Link -->
	<link rel="stylesheet" href="/assets/css/newsDetailCustomer.css">
	<link rel="stylesheet" href="/assets/css/header-footer.css">
	<link rel="stylesheet" href="/assets/css/header-footer-style.css">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />


</head>

<body data-bs-target=".navbar" data-bs-offset="100">
	<header th:replace="~{header :: header}">
	</header>

	<div id="wrapper">
		<div id="content">
			<div class="box">
				<div class="box-head">
					<h3 th:text="${service.serviceName}">Service Name</h3>
				</div>

				<div class="row" style="margin-left: 70px;">
					<div class="col-md-8 mt-5 mb-5">
						<div class="">
							<b th:text="${service.serviceDes}">Service Description</b>
							<br><br>
							<p th:text="${service.serviceNote}">Service Note</p>
							<p th:text="'Giá: ' + ${service.servicePrice} + ' VND' ">Service Price</p>
							<p>
								Trạng thái dịch vụ:
								<span th:if="${service.Status}" style="color: rgb(0, 255, 0);">Còn hoạt động</span>
								<span th:unless="${service.Status}" style="color: red;">Dừng hoạt động</span>
							</p>
						</div>
						<div class="">
							<img th:src="@{'/assets/img/services/' + ${service.serviceImage}}"
								th:alt="${service.serviceName}" width="900" height="500" />
						</div>
					</div>
					<div class="col-md-4 mt-5 mb-5">
						<h2>Danh sách dịch vụ khác</h2>

						<li type="none" th:each="otherService, iteration : ${allServices}">
							<div class="room-item" th:if="${iteration.index < 6}">
								<a th:href="@{'/service-details?serviceId=' + ${otherService.serviceId}}">
									<img class="mb-1" th:src="@{'/assets/img/services/' + ${otherService.serviceImage}}" width="200"
										height="100" />
									<b th:text="${otherService.serviceName}"></b>
								</a>
							</div>
						</li>


					</div>

				</div>
			</div>
		</div>

	</div>

	<section th:replace="~{footer :: footer}"></section>

	<!-- Bootstrap 5 JS CDN Links -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>

	<!-- Swiper JS -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Custom Js Link -->
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/aos.js"></script>
	"
</body>

</html>