<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="/assets/css/header-footer.css"/>
    <link rel="stylesheet" href="/assets/css/header_footer_style.css"/>
</head>

<body>
<header th:fragment="header" class="header-wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div th:if="${session.accountDetail == null}">
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/Orilogo.png" alt="" width="180" height="80"
                         class="d-inline-block align-text-top">
                    <!-- <img src="./images/logo.png" class="img-fluid" alt="logo"> -->
                </a>
            </div>
            <div th:if="${session.accountDetail != null}">
                <a class="navbar-brand" href="/homepage">
                    <img src="/assets/img/Orilogo.png" alt="" width="180" height="80"
                         class="d-inline-block align-text-top">
                    <!-- <img src="./images/logo.png" class="img-fluid" alt="logo"> -->
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-stream navbar-toggler-icon"></i>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav menu-navbar-nav">
                    <li class="nav-item" th:if="${session.accountDetail == null}">
                        <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item" th:if="${session.accountDetail != null}">
                        <a class="nav-link active" aria-current="page" href="/homepage">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/room/all">Phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery">Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Liên
                            hệ</a>
                    </li>
                    <li class="nav-item" th:if="${session.accountDetail == null}">
                        <a class="main-btn" th:href="@{/login}">Đăng nhập</a>
                    </li>
                    <li class="nav-item" th:if="${session.accountDetail != null}">
                        <div class="action">
                            <div class="profile" onclick="menuToggle()">
                                <i style='font-size:30px' class='fas'>&#xf406;</i>
                            </div>

                            <div class="menu">
                                <h3 th:text="${session.name}"><br></h3>
                                <ul>
                                    <li><img src="/assets/img/usermenu/user.png" alt=""><a
                                            th:href="@{/customer/viewProfile}">Hồ sơ</a></li>
                                    <li><img src="/assets/img/usermenu/edit.png" alt=""><a
                                            th:href="@{/customer/updateprofile}">Chỉnh sửa</a>
                                    </li>
                                    <li><img src="/assets/img/usermenu/settings.png" alt=""><a
                                            th:href="@{/customer/changepass}">Đổi mật khẩu</a>
                                    </li>
                                    <li><img src="/assets/img/usermenu/envelope.png" alt=""><a
                                            th:href="@{/customer/viewBooking}">Lịch sử đặt
                                        phòng</a>
                                    </li>
                                    <li><img src="/assets/img/usermenu/question.png" alt=""><a href="#">Trợ
                                        giúp</a>
                                    </li>
                                    <li><img src="/assets/img/usermenu/log-out.png" alt=""><a
                                            th:href="@{/logout}">Đăng
                                        xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <script>
                        function menuToggle() {
                            const toggleMenu = document.querySelector(".menu");
                            toggleMenu.classList.toggle('active')
                        }
                    </script>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Navbar section -->


</body>

</html>