<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3HKT Hotel Website</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap5 CND Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="/assets/css/homepage.css" />
    <link rel="stylesheet" href="/assets/css/homepage-responsive-style.css">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">

    <!-- Navbar section -->
    <header class="header-wrapper">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="./assets/img/Orilogo.png" alt="" width="180" height="80" class="d-inline-block align-text-top">
                <!-- <img src="./images/logo.png" class="img-fluid" alt="logo"> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> --> 
                <i class="fas fa-stream navbar-toggler-icon"></i>
              </button>

              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav menu-navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">Về chúng tôi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#rooms">Phòng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#services">Dịch vụ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#gallery">Hình ảnh</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#blog">Tin tức</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Liên hệ</a>
                  </li>
                  <li class="nav-item">
                    <a class="main-btn" href="login">Đăng nhập</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <!-- Navbar section exit -->
    <!-- Banner section -->
    <section id="home" class="banner_wrapper p-0">
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image: url(../assets/img/slider/hotel_slider1.jpg);">
                  <div class="slide-caption text-center">
                      <div>
                          <h1>Chào mừng đến với khách sạn 3HKT Hà Nội</h1>
                          <p>Trải nghiệm không gian lưu trú hoàn hảo </p>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide" style="background-image: url(../assets/img/slider/hotel_slider2.jpg);">
                  <div class="slide-caption text-center">
                      <div>
                          <h1>Chào mừng đến với khách sạn 3HKT Hà Nội</h1>
                          <p>Trải nghiệm không gian lưu trú hoàn hảo</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="swiper-pagination"></div>
      </div>
      <div class="container booking-area">
        <form class="row">
            <div class="col-lg mb-3 mb-lg-0">
                <input type="date" class="form-control" placeholder="Date">
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <input type="date" class="form-control" placeholder="Date">
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <select class="form-select">
                    <option selected>Người lớn</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <select class="form-select">
                    <option selected>Trẻ em</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="col-lg mb-3 mb-lg-0">
                <button type="submit" class="main-btn rounded-2 px-lg-3">Tìm Phòng</button>
            </div>
        </form>
    </div>
</section>
    <!-- Banner section exit -->
    <!-- About section -->
    <section id="about" class="about_wrapper">
      <div class="container">
          <div class="row flex-lg-row flex-column-reverse ">
              <div class="col-lg-6 text-center text-lg-start">
                  <h3>Welcome to <span> 3HKT Hotel <br class="d-none d-lg-block">
                          The haven</span> of rest</h3>
                  <p>Khách sạn 3HKT Hà Nội là khách sạn Quốc tế tại Hà Nội với 222 phòng nghỉ tiện nghi, hiện đại và sang trọng. 
                    Đặc biệt, với vị trí trung tâm thuận lợi kề bên Hồ Giảng Võ yên bình, khách sạn là điểm dừng chân lý tưởng của du khách trong và ngoài nước mỗi khi có chuyến công tác hay du lịch cùng bạn bè và người thân. 
                    </p>
                  <p>Hơn nữa, Khách sạn 3HKT Hà Nội đã được nổi danh là địa chỉ đứng đầu của Hà nội về ẩm thực Việt Nam cùng các dịch vụ giải trí hoàn hảo và phong phú. 
                    Đến với Khách sạn 3HKT Hà Nội, chúng tôi hy vọng sẽ đem lại cho quý khách những trải nghiệm thú vị và hài lòng nhất.</p>
                  <a href="#" class="main-btn mt-4">Khám phá</a>
              </div>
              <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                  <img decoding="async" src="./assets/img/about-img.svg" class="img-fluid" alt="About Us">
              </div>

          </div>
      </div>
  </section>

    <!-- About section exit -->
    <!-- Room section -->
    <section id="rooms" class="rooms_wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 section-title text-center mb-5">
                  <h6>Chúng tôi có thể giúp gì cho bạn?</h6>
                  <h3>Những loại phòng được ưa thích của chúng tôi</h3>
              </div>
          </div>
          <div class="row m-0">
              <div class="col-md-4 mb-4 mb-lg-0">
                  <div class="room-item">
                      <img decoding="async" src="./assets/img/rooms/room1.webp" class="img-fluid">
                      <div class="room-item-wrap">
                          <div class="room-content">
                              <h5 class="text-white mb-lg-5 text-decoration-underline">Superior Double/Twin</h5>
                              <p class="text-white">Phòng Superior với tầm nhìn hướng về thành phố mang quý khách đến gần hơn với cuộc sống thành thị 
                                và hứa hẹn là một điểm nhấn đặc biệt trong thời gian quý khách ở tại khách sạn 3HKT.
                              </p>
                              <p class="text-white fw-bold mt-lg-4">1,000,000VND/Đêm</p>
                              <a class="main-btn border-white text-white mt-lg-5" href="#">Đặt ngay</a>
                          </div>
                      </div> 
                  </div> 
              </div>
              <div class="col-md-4 mb-4 mb-lg-0">
                  <div class="room-item">
                      <img decoding="async" src="./assets/img/rooms/room2.webp" class="img-fluid">
                      <div class="room-item-wrap">
                          <div class="room-content">
                              <h5 class="text-white mb-lg-5 text-decoration-underline">Family Junior Suite</h5>
                              <p class="text-white">Phòng Family Junior Suite thích hợp với những gia đình hay nhóm quý khách cùng nhau du lịch cũng như giúp quý khách có được những khoảnh khắc vui vẻ bên quý khách bè cùng những người thân yêu.</p>
                              <p class="text-white fw-bold mt-lg-4">1,200,000VND/Đêm</p>
                              <a class="main-btn border-white text-white mt-lg-5" href="#">Đặt ngay</a>
                          </div>
                      </div>
                  </div> 
              </div>
              <div class="col-md-4 mb-4 mb-lg-0">
                <div class="room-item">
                    <img decoding="async" src="./assets/img/rooms/room3.webp" class="img-fluid">
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline">Grand Suite</h5>
                            <p class="text-white">Grand Suite được bố trí trên những tầng cao nhất của khách sạn sẽ mang đến cho quý khách sự sang trọng của không gian sống cùng vẻ đẹp toàn cảnh của thành phố Hà Nội năng động. </p>
                            <p class="text-white fw-bold mt-lg-4">1,500,000VND/Đêm</p>
                            <a class="main-btn border-white text-white mt-lg-5" href="#">Đặt ngay</a>
                        </div>
                    </div>
                </div> 
            </div>
          </div>
      </div>
  </section>
    <!-- Room section exit -->
    <!-- Services section -->
    <section id="services" class="services_wrapper">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 section-title text-center mb-5">
                  <h6>Chúng tôi ở đây để giúp bạn</h6>
                  <h3>Các dịch vụ tuyệt vời của chúng tôi</h3>
              </div>
          </div>
          <div class="row align-items-center service-item-wrap">
              <div class="col-lg-7 p-lg-0">
                  <!--Service Area Start-->
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade active show" id="spa" role="tabpanel">
                          <img decoding="async" src="../assets/img/services/service1.webp" alt="">
                      </div>
                      <div class="tab-pane fade" id="restaurent" role="tabpanel">
                          <img decoding="async" src="../assets/img/services/service2.webp" alt="">
                      </div>
                      <div class="tab-pane fade" id="swimming" role="tabpanel">
                          <img decoding="async" src="../assets/img/services/service3.webp" alt="">
                      </div>
                      <div class="tab-pane fade" id="conference" role="tabpanel">
                          <img decoding="async" src="../assets/img/services/service6.webp" alt="">
                      </div>
                  </div>
        </div>
        <!--Service Area End-->
        <section class="col-lg-5 position-relative">
            <!--Service Tab Menu Area Start-->
            <div class="service-menu-area">
                <ul class="nav">
                    <li>
                        <a data-bs-toggle="tab" href="#spa" class="active">
                            <span class="service-icon">
                                <img decoding="async" src="../assets/img/services/service-icon1.webp" alt="">
                            </span>
                            <h5>Spa, làm đẹp & Sức khỏe</h5>
                            <p><span>3HKT Spa</span> sẽ mang đến cho Quý khách cảm giác thư giãn sau những ngày làm việc
                              căng thẳng với không gian tiện nghi, hiện đại cùng những dịch vụ tốt nhất.</p>
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tab" href="#restaurent">
                            <span class="service-icon">
                                <img decoding="async" src="../assets/img/services/service-icon2.webp" alt="">
                            </span>
                            <h5>Nhà hàng</h5>
                            <p><span>Nhà hàng của 3HKT</span> là nơi quý khách sẽ được thưởng thức sự phong phú của các món ăn tuyệt hảo và các loại rượu quý hiếm.</p>
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tab" href="#swimming">
                            <span class="service-icon">
                                <img decoding="async" src="../assets/img/services/service-icon3.webp" alt="">
                            </span>
                            <h5>Bể bơi</h5>
                            <p><span>Bể bơi của 3HKT</span> tọa lạc tại tầng 5 của khách sạn là nơi bạn có thể xua tan cái nóng của mùa hè, 
                              tận hưởng cảm giác đắm mình trong làn nước xanh mát hay đơn giản chỉ là thư giãn sau một ngày làm việc mệt mỏi. </p>
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tab" href="#conference">
                            <span class="service-icon">
                                <img decoding="async" src="../assets/img/services/service-icon4.webp" alt="">
                            </span>
                            <h5>Hội trường</h5>
                            <p><span>Hội trường của 3HKT</span> là nơi tổ chức những cuộc họp lớn, hội thảo quan trọng và cũng là nơi thích hợp với những cuộc thuyết trình, thảo luận nhóm. </p>
                        </a>
                    </li>
                </ul>
            </div>
          </section>
    <!-- Services section exit -->
    <!-- Gallery section -->
    <section id="gallery" class="gallery_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Những bức ảnh đẹp nhất của khách sạn</h6>
                    <h3>Hình ảnh Khách sạn</h3>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-3 col-md-6 gallery-item">
                    <img decoding="async" src="../assets/img/gallery/1.webp" class="img-fluid w-100">
                    <div class="gallery-item-content"></div>
                </div>
                <div class="col-lg-3 col-md-6 gallery-item">
                    <img decoding="async" src="../assets/img/gallery/2.webp" class="img-fluid w-100">
                    <div class="gallery-item-content"></div>
                </div>
                <div class="col-lg-3 col-md-6 gallery-item">
                    <img decoding="async" src="../assets/img/gallery/3.webp" class="img-fluid w-100">
                    <div class="gallery-item-content"></div>
                </div>
                <div class="col-lg-3 col-md-6 gallery-item">
                    <img decoding="async" src="../assets/img/gallery/4.webp" class="img-fluid w-100">
                    <div class="gallery-item-content"></div>
                </div>
                <div class="col-md-6 gallery-item">
                    <img decoding="async" src="../assets/img/gallery/5.webp" class="img-fluid w-100">
                    <div class="gallery-item-content"> </div>
                </div>
                <div class="col-md-6 gallery-item">
                    <img decoding="async" src="../assets/img/gallery/6.webp" class="img-fluid w-100">
                    <div class="gallery-item-content"> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section Exit -->
    <!-- News section -->
    <section id="blog" class="blog_wrapper pb-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-5">
                    <h6>Xin chào tới khách hàng của chúng tôi</h6>
                    <h3>Tin tức</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <img decoding="async" src="../assets/img/news/news1.jpg" alt="">
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">AFTERNOON & HIGH TEA</h5>
                            <h6>By Admin - October 10, 2023</h6>
                            <p class="mt-2">Hightea là sự kết hợp giữa trà chiều và Bữa tối, được phục vụ trên một chiếc bàn cao trong phòng ăn. 
                                Nó còn gọi là bữa bữa trà mặn.
                            </p>
                            <a href="#" class="main-btn mt-2">Đọc thêm</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card p-0 border-0 rounded-0">
                        <img decoding="async" src="../assets/img/news/news2.png" alt="">
                        <div class="blog-content bg-white p-4">
                            <h5 class="text-decoration-underline mb-4">MOONLIGHT SYMPHONY – BỘ SƯU TẬP BÁNH TRUNG THU</h5>
                            <h6>By Admin - September 30, 2023</h6>
                            <p class="mt-2"> Bộ sưu tập bánh trung thu 2023 của Khách sạn 3HKT Hà Nội mang trọn vẹn tinh hoa của ẩm thực truyền thống và hơi thở của cuộc sống đương đại.
                            </p>
                            <a href="#" class="main-btn mt-2">Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-partner-slider mt-5">
            <div class="container swiper our-partner">
                <div class=" swiper-wrapper">
                    <div class="swiper-slide"><img decoding="async" src="../assets/img/partners/brand1.webp"></div>
                    <div class="swiper-slide"><img decoding="async" src="../assets/img/partners/brand2.webp"></div>
                    <div class="swiper-slide"><img decoding="async" src="../assets/img/partners/brand3.webp"></div>
                    <div class="swiper-slide"><img decoding="async" src="../assets/img/partners/brand4.webp"></div>
                    <div class="swiper-slide"><img decoding="async" src="../assets/img/partners/brand5.webp"></div>
                    <div class="swiper-slide"><img decoding="async" src="../assets/img/partners/brand6.webp"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- News section exit -->
    <!-- Contact section -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 bg-cover" style="background-image: url(../assets/img/contact3.png); min-height: 300px;"></div>
                <div class="col-lg-8">
                    <form action="" class="row p-lg-5 gy-4">
                        <div class="col-12">
                            <h3>Liên lạc với chúng tôi</h3>
                            <p>Để biết thêm chi tiết về khách sạn Hà Nội 3HKT, bao gồm giá phòng, hội thảo, các ưu đãi nghỉ dưỡng và ẩm thực hay góp ý với chúng tôi, 
                                quý khách vui lòng để lại thông tin, đội ngũ nhân viên Kinh Doanh sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
                        </div>
                        <div class="col-lg-6">                            
                                <label for="exampleFormControlInput1" class="form-label">First name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Do">                           
                        </div>

                        <div class="col-lg-6">                            
                            <label for="exampleFormControlInput1" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Trung Hieu">                           
                        </div>

                        <div class="col-lg-6">                            
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">                           
                        </div>
                        <div class="col-lg-6">                            
                            <label for="exampleFormControlInput1" class="form-label">Phone</label>
                            <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="(+84) 388 663 366">                           
                        </div>
                    <div class="col-12">
                            <label for="message" class="form-label"> Message </label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Write here" ></textarea>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-warning">Gửi yêu cầu</button>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Hủy</button>
                    </div>
               
                    </form>
                </div>
                </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <!-- Contact section exit -->
    <!-- Footer section -->
    <section id="contact" class="footer_wrapper mt-3 mt-md-0 pb-0">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h5>3HKT Hotel</h5>
                    <p class="ps-0">Để biết thêm chi tiết về khách sạn Hà Nội 3HKT  hay góp ý với chúng tôi, 
                        quý khách vui lòng để lại thông tin, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
                    <div class="contact-info">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-home me-3"></i> 67 Phùng Khoang, Trung Văn, Từ Liêm, Hà Nội</a></li>
                            <li><a href="#"><i class="fa fa-phone me-3"></i>+84 388 663 366</a></li>
                            <li><a href="#"><i class="fa fa-envelope me-3"></i>reservation@3hkthotel.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Liên kết khác</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#">Văn phòng</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="#">Cửa hàng</a></li>
                        <li><a href="#">Chính sách</a></li>
                        <li><a href="#">Mua thẻ quà tặng</a></li>
                        <li><a href="#">Tín dụng</a></li>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Hợp tác</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#">Nhà hàng</a></li>
                        <li><a href="#">Spa</a></li>
                        <li><a href="#">Bar</a></li>
                        <li><a href="#">Quán Karaoke</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Cập nhật tin tức</h5>
                    <div class="form-group mb-4">
                        <input type="email" class="form-control bg-transparent" placeholder="Nhập email của bạn tại đây">
                        <button type="submit" class="main-btn rounded-2 mt-3 border-white text-white">Gửi</button>
                    </div>
                    <h5>Kết nối với chúng tôi</h5>
                    <ul class="social-network d-flex align-items-center p-0">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="container-fluid copyright-section">
            <p>Copyright <a href="#">3HKT Hotel</a> All Rights Reserved</p>
        </div>
    </section>
    <!-- Footer section exit -->

    <!-- Bootstrap 5 JS CDN Links -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Custom Js Link -->
    <script src="../assets/js/main.js"></script>
</body>

<html>

</html>