<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/login.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
	<title>Rest Password</title>
</head>

<body>
	<div class="wrapper">
		<div class="container main">
			<div class="row">
				<div class="col-md-6 side-image">



					<img src="../assets/img/login/hotelLogin.jpg" alt="">

				</div>
				<div class="col-md-6 right">

					<div class="input-box">

						<header>Chào mừng bạn đã đến với 3HKT Hotel</header>

						   <form id="formAuthentication" class="mb-3" th:action="@{/hbs/reset-password}" method="POST">
							<input type="hidden" th:value="${session.token}" name="token" />


							<div class="input-field">
								<input type="password" class="input" id="password" minlength="8" maxlength="30" pattern=".{8,30}" title="Mật khẩu nhập tối thiểu 8 kí tự" name="password" required="Không được để trống" autocomplete="off">
								<label for="password">Mật khẩu</label>
							</div>
							<div class="input-field">
								<input type="password" class="input" id="repassword" minlength="8" maxlength="30" pattern=".{8,30}" title="Mật khẩu nhập tối thiểu 8 kí tự" name="repassword" required="Không được để trống">
								<label for="password">Nhập lại mật khẩu</label>
							</div>
							<div class="input-field">
								<input id="submit-button" type="submit" class="submit"  value="Lưu" >
							</div>
							   <div th:if="${pass}">
								   <div class="alert alert-danger" th:text="${pass}"></div>
							   </div>
							   <div th:if="${valid}">
								   <div class="alert alert-danger">Đổi mật khẩu thành công!!</div>
							   </div>
							<div th:if="${errorMessage}">
								<div class="alert alert-danger">Hết hạn thời gian!!!</div>
							</div>
							   <div class="input-field" th:if="${param.error}">
								   <p class="alert-danger">Không thể thay đổi mật khẩu!</p>
							   </div>
							   <div>
								   <p id="message"></p>
							   </div>

							<div class="signin">
								<span><a th:href="@{/login}">Quay trở vể trang đăng nhập</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

	</body>

</html>