<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>Chi tiết phòng</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="">

    <!-- Bootstrap5 CND Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="/assets/css/header-footer.css">
    <link rel="stylesheet" href="/assets/css/header-footer-style.css">
    <link rel="stylesheet" href="/assets/css/detailRoomCustomer.css">
    <link rel="stylesheet" href="/assets/css/homepage.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700&display=swap" rel="stylesheet">

</head>


<body data-bs-target=".navbar" data-bs-offset="100">
<!-- Navbar section -->
<header th:replace="~{header :: header}">

</header>

<div class="site-blocks-cover overlay" style="background-image: url(/assets/img/slider/hotel_slider1.jpg);"
     data-aos="fade"
     data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
                <h1 class="mb-4" th:text="${bookRoomByCategories.roomCategories.getRoomCategoryName()}"></h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">

                        <div class="d-md-flex mt-5 mb-5 row">
                            <ul class="list1 col">
                                <b><u>Tiện ích</u></b>
                                <p th:each="roomF :${bookRoomByCategories.roomFurnitures}">
                                    <li><span th:text="${roomF.getFurnitureName()}"></span></li>
                                </p>
                            </ul>
                            <ul class="list2 ms-5 col">
                                <b><u>Dịch vụ</u></b>
                                <p th:each="roomS :${bookRoomByCategories.services}">
                                    <li><span th:text="${roomS.getServiceName}"></span></li>
                                </p>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-lg-4 sidebar ftco-animate pl-md-5">

                <br>
                <div class="sidebar-box ftco-animate border-start border-dark">
                    <h3>Giá từ</h3>

                    <h2 th:text="${bookRoomByCategories.getCategoryRoomPrice().getPrice()}"></h2>
                    <!--                    <span th:text="${#numbers.formatDecimal(bookRoomByCategories.getCategoryRoomPrice().getPrice(), 0, 'COMMA', 2, 'POINT')}"></span>-->


                    <p1><a href="#" class="main-btn mt-2">Đặt ngay</a></p1>


                    <div class="sidebar-box ftco-animate">
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/assets/img/rooms/bed.png);"></a>
                            <div class="text">
                                <h3 class="heading"><span
                                        th:text="${bookRoomByCategories.getRooms().get(0).getBedSize()}">Giường KingSize</span>
                                </h3>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/assets/img/rooms/people.png);"></a>
                            <div class="text">
                                <h3 class="heading"><span
                                        th:text="${bookRoomByCategories.getRoomCategories().numberPerson}"></span></h3>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/assets/img/rooms/area.png);"></a>
                            <div class="text">
                                <h3 class="heading"><span
                                        th:text="${bookRoomByCategories.getRoomCategories().getSquare()+'m2'}"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/assets/img/rooms/view.png);"></a>
                            <div class="text">
                                <h3 class="heading"><span
                                        th:text="${bookRoomByCategories.getRooms().get(0).getViewCity()}">Hướng thành phố</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3>Chính sách trẻ em</h3>
                        <p>- Dưới 6 tuổi: miễn phí</p>
                        <p>- Từ 12 tuổi trở lên: tính phí như người lớn</p>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="row g-0 col-md-12">
            <div class="col-md-6 gallery-item">
                <img decoding="async" src="/assets/img/rooms/room-4.jpg" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-md-6 gallery-item">
                <img decoding="async" src="/assets/img/rooms/room-5.jpg" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-md-6 gallery-item">
                <img decoding="async" src="/assets/img/rooms/room-6.jpg" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-md-6 gallery-item">
                <img decoding="async" src="/assets/img/rooms/room-4.jpg" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
        </div>
        <hr>

        <div class="col-sm-12 section-title text-center mb-5">
            <h6>Chúng tôi có thể giúp gì cho bạn?</h6>
            <h3>Những loại phòng khác của chúng tôi</h3>
        </div>

        <div class="row m-0">
            <div class="col-md-4 mb-4 mb-lg-0" th:each="category, iteration : ${distinctCategories}">
                <div class="room-item" th:if="${iteration.index < 3}">
                    <img decoding="async" th:src="@{'/assets/img/rooms/' + ${category.image}}" class="img-fluid">
                    <div class="room-item-wrap">
                        <div class="room-content">
                            <h5 class="text-white mb-lg-5 text-decoration-underline"
                                th:text="${category.roomCategoryName}"></h5>
                            <p class="text-white" th:text="${category.description}"></p>
                            <p class="text-white fw-bold mt-lg-4"
                               th:text="${category.getCategoryRoomPrice().getPrice()+' '+'VND'}"></p>
                            <a class="main-btn border-white text-white mt-lg-5"
                               th:href="@{/room/category/${category.roomCategoryId}}">Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section th:replace="~{footer :: footer}"></section>

<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Custom Js Link -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/aos.js"></script>

</body>