<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/login.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
	<title>Login</title>
</head>

<body>
	<div class="wrapper">
		<div class="container main">
			<div class="row">
				<div class="col-md-6 side-image">



					<img src="../assets/img/login/hotelLogin.jpg" alt="">

				</div>
				<div class="col-md-6 right">

					<div class="input-box">

						<header>Chào mừng bạn đã đến với 3HKT Hotel</header>

						<form class="form-horizontal" method="post" role="form" th:action="@{/loginProcess}">
							<div class="input-field">
								<input type="text" class="input" id="email" name="email" required=""
								pattern=".{5,255}" title="Email phải dài từ 5 đến 255 ký tự"
								 placeholder="" autocomplete="off">
								<label for="email">Email</label>
							</div>
							<div class="input-field">
								<p id="email-error" style="color: red;"></p>
							</div>
							<div class="input-field">
								<input type="password" class="input" id="password" name="password" required="">
								<label for="pass">Mật khẩu</label>
							</div>
							<div class="input-field">
								<input id="submit-button" type="submit" class="submit" disabled value="Đăng nhập">
							</div>
							
						<div th:if="${param.error}">
							<div class="alert alert-danger">Không đúng Email hoặc mật khẩu !!!</div>
						</div>
					
							<div class="input-field" th:if="${param.logout}">
								<p class="alert alert-success">Bạn đã đăng xuất thành công!!</p>
							</div>
						
							<div class="forgotpass">
								 <label> <input type="checkbox" name="remember-me">Remember me </label>
								<span><a th:href="@{/hbs/resetPassword}">Quên mật khẩu ?</a></span>
							</div>
							<div class="signin">
								<span>Chưa có tài khoản ? <a th:href="@{/registration}">Đăng ký ở đây</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<script>
			var submitButton = document.getElementById("submit-button");

			document.getElementById("email").addEventListener("input", function() {
			var email = this.value;
			var pattern = /^[a-zA-Z0-9!#$%&'*+/=?^`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/;

			if (!pattern.test(email)) {
			document.getElementById("email-error").textContent = "Email không đúng định dạng.";
				submitButton.disabled = true;
		} else {
			document.getElementById("email-error").textContent = "";
				submitButton.disabled = false;
		}
		});
		</script>
		
</body>

</html>