<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div id="placeholder"></div>
    <main class="login-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form action="login.html" method="" id="formLogin" style="margin-bottom: 0em;">
                                <div class="form-group row">
                                    <input type="text" id="user_name" class="input form-control" name="user-name"
                                        minlength="3" maxlength="30" placeholder="User name" required autofocus>

                                </div>
                                <div class="form-group row">
                                    <input type="email" id="email" class="input form-control" minlength="5" name="email"
                                        placeholder="E-mail" required>

                                </div>
                                <div class="form-group row">
                                    <input type="password" id="password" class="input form-control" name="password"
                                        minlength="8" maxlength="30" placeholder="Password" required>

                                </div>
                                <div class="form-group row">
                                    <input type="password" id="password2" class="input form-control" name="password"
                                        minlength="8" maxlength="30" placeholder="Re-Password" onkeyup="checkPass"
                                        required>

                                </div>
                                <div>
                                    <p id="result2"></p>
                                    <p id="message"></p>
                                </div>
                                <button type="submit" class="input btn btn-success" id="submit">
                                    Register
                                </button><br>
                                <div class="form-group" style="margin-bottom: 0em;">
                                    <a th:href="@{/login}" class="btn btn-link">
                                        Click here to Login
                                    </a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script>
        const validateEmail = (email) => {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };

        $('#email').on('input', function () {
            const $result = $('#result2');
            const email = $('#email').val();
            $result.text('');

            if (validateEmail(email)) {
                $result.text(email + ' is valid :)');
                $result.css('color', 'green');
                document.getElementById("submit").disabled = false;
            } else {
                if (email === '') {
                    $result.text('');
                    $result.css('color', 'red');
                } else {
                    $result.text(email + ' is not valid :(');
                    $result.css('color', 'red');
                }
                document.getElementById("submit").disabled = true;
            }
            return false;
        });

        $('#password, #password2').on('keyup', function () {
            if ($('#password').val() === $('#password2').val()) {
                $('#message').html('Password Matching').css('color', 'green');
                document.getElementById("submit").disabled = false;
            } else {
                $('#message').html('Password not Matching').css('color', 'red');
                document.getElementById("submit").disabled = true;
            }

        });
    </script>
</body>

</html>