<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check In Receptionist</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/checkInReceptionist.css">
    <script src="/assets/js/main.js"></script>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">

    <div class="wrapper">

        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <img src="./images/Orilogo.png" alt="" width="180" height="80"
                        class="d-inline-block align-text-top">
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-header fw-bold">
                        Lễ tân
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-regular fa-rectangle-list"></i>
                            Danh sách phòng
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-check-double"></i>
                            Đặt phòng
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Trả phòng
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-house-user"></i>
                            Phòng đang sử dụng
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-bell"></i>
                            Đặt trước
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-clipboard"></i>
                            Lịch sử đặt phòng
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button type="button" class="bi bi-person-circle "></button>
            </nav>
            <main class="content px-3 py-2">
                <div class="container">
                    <div class="row mt-3">
                        <h3 class="fw-bold text-center">Check-in</h3>
                        <hr>
                        <div class="row">
                            <h4 class="fw-bold">Khách hàng:</h4>
                        </div>
                        <div class="row ms-2 mb-3 border shadow">
                            <div class="col-lg-8">
                                <div class="row me-5">
                                    <div class="col ms-2 mt-2">
                                        <h6 class="fw-bold">Họ tên: <a>Nguyễn Ngọc Khoa</a></h6>
                                    </div>
                                </div>
                                <div class="row mt-2 me-5">
                                    <div class="col  ms-2">
                                        <h6 class="fw-bold">Số điện thoại: <a>0388 663 366</a></h6>
                                    </div>
                                </div>
                                <div class="row mt-2 me-5">
                                    <div class="col  ms-2">
                                        <h6 class="fw-bold">Địa chỉ: <a>Thạch Hòa - Thạch Thất - Hà
                                                Nội</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="row me-5 mt-2">
                                    <h6 class="fw-bold">Email: <a>nnkhoa36@gmail.com</a></h6>
                                </div>
                                <div class="row mt-2 me-5">
                                    <h6 class="fw-bold">Ghi chú: <a>Không</a></h6>
                                </div>
                                <div class="row mt-2 me-5">
                                    <h6 class="fw-bold">Phương thức đặt: <a>Tại quầy lễ tân</a></h6>
                                </div>
                            </div>
                        </div>
                        <h4 class="fw-bold mt-3">Thông tin phòng:</h4>
                        <h6 class="mt-2 ms-2">Mã đặt phòng: <a>1001</a>
                        </h6>
                        <h6 class="ms-2">Trạng thái: <a>Chờ check-in</a>
                        </h6>
                    </div>
                    <div class="row mt-3 ms-1 me-3 border shadow">
                        <div class="col-lg-6 mt-3">
                            <p class="fw-bold">Ngày nhận phòng: <a>29/09/2023</a></p>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <p class="fw-bold text-end">Ngày trả phòng: <a>30/09/2023</a></p>
                        </div>
                    </div>
                    <div class="row mt-5 me-1">
                        <div class="d-flex flex-column">
                            <table class="table table-striped table-hover border align-baseline text-center shadow">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Loại phòng</th>
                                        <th scope="col">Số phòng đặt</th>
                                        <th scope="col">Số khách</th>
                                        <th scope="col">Chọn phòng</th>
                                        <th scope="col">Ưu đãi</th>
                                        <th scope="col">Chi tiết</th>
                                        <th scope="col">Giá phòng</th>
                                        <th scope="col">Tổng giá</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Deluxe</td>
                                        <td>2</td>
                                        <td>4</td>
                                        <td><select class="form-select">
                                                <option selected>101</option>
                                                <option value="">102</option>
                                                <option value="">103</option>
                                                <option value="">104</option>
                                                <option value="">105</option>
                                            </select></td>
                                        <td>Bữa sáng</td>
                                        <td>Không</td>
                                        <td>1.700.000</td>
                                        <td>3.400.000</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Premium</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td><select class="form-select">
                                                <option selected>101</option>
                                                <option value="">102</option>
                                                <option value="">103</option>
                                                <option value="">104</option>
                                                <option value="">105</option>
                                            </select></td>
                                        <td>Bữa sáng</td>
                                        <td>Không</td>
                                        <td>2.000.000</td>
                                        <td>2.000.000</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-4 me-2">
                        <div class="row ms-1">
                            <h4 class="fw-bold">Thanh toán:</h4>
                        </div>
                        <div class="row ms-1">
                            <div class="col-lg-12 border shadow">
                                <div class="row me-4 mt-2">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Giá phòng:</h6>
                                    </div>
                                    <div class="col text-end"> <a>6.400.000</a></div>
                                </div>
                                <div class="row mt-2 me-4">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Thuế(10%):</h6>
                                    </div>
                                    <div class="col text-end"><a>640.000</a></div>
                                </div>
                                <div class="row mt-2 me-4">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Tổng giá:</h6>
                                    </div>
                                    <div class="col text-end"><a>7.040.000</a></div>
                                </div>
                                <div class="row mt-2 me-4">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Đặt cọc(50%):</h6>
                                    </div>
                                    <div class="col text-end"><a>3.520.000</a></div>
                                </div>
                                <div class="row mt-2 me-4">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Thanh toán hết (5%):</h6>
                                    </div>
                                    <div class="col text-end"><a>6.688.500</a></div>
                                </div>
                                <div class="row mt-2 me-4">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Đã thanh toán:</h6>
                                    </div>
                                    <div class="col text-end"><a>3.520.000</a></div>
                                </div>
                                <div class="row mt-2 me-4">
                                    <div class="col ms-4">
                                        <h6 class="fw-bold">Còn lại:</h6>
                                    </div>
                                    <div class="col text-end"><span class="fw-bold">3.520.000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="btn-end text-center">
                            <!-- Sử dụng lớp 'text-center' để căn giữa nút -->
                            <button type="button" class="btn btn-secondary"
                                style="margin-right: 2rem; margin-top: 2rem; margin-bottom: 2rem;">Quay
                                lại</button>
                            <button type="button" class="btn btn-dark" style="margin-right: 2rem; margin-top:
                                2rem;margin-bottom: 2rem;">Check-in</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>

</html>