<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lễ tân</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/manager.css"/>
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <script src="/assets/js/sidebar.js"></script>
    <script src="/assets/js/manager.js"></script>
    <link rel="stylesheet" href="/assets/css/header-footer.css">
    <link rel="stylesheet" href="/assets/css/header_footer_style.css">

    <!-- Include Bootstrap-datepicker CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Include Bootstrap-datepicker JS -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Include Bootstrap-datepicker localization for Vietnamese -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>


</head>

<body>

<body data-bs-target=".navbar" data-bs-offset="100"></body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header border-bottom">
            <img src="/assets/img/Orilogo.png" class="img-fluid">
        </div>

        <ul class="list-unstyled components border-bottom">
            <p class="border-bottom fw-bold"><i class="bi bi-person-badge-fill pe-2"></i>Lễ tân</p>
            <li>
                <a href="#"><i class="fa-regular fa-rectangle-list pe-2"></i>Danh sách phòng</a>
            </li>
            <li>
                <a href="./createRoomReceptionist"><i class="fa-solid fa-check-double pe-2"></i>Đặt phòng</a>
            </li>
            <li>
                <a href="./checkOutReceptionist"><i class="fa-solid fa-right-from-bracket pe-2"></i>Trả phòng</a>
            </li>
            <li>
                <a href="./listRoomInUse"><i class="fa-solid fa-house-user pe-2"></i>Phòng đang sử dụng</a>
            </li>
            <li>
                <a href="./listBookingReceptionist"><i class="fa-solid fa-bell pe-2"></i>Đặt trước</a>
            </li>
            <li>
                <a href="./listHistoryBooking"><i class="fa-solid fa-clipboard pe-2"></i>Lịch sử đặt phòng</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg shadow ">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>


                <button class=" btn bi-person-circle " style="font-size: 2em;"></button>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="container shadow min-vh-100">
                        <div class="row p-3">
                            <ul class="nav nav-tabs d-flex justify-content-around" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="chooseRoom-tab" data-bs-toggle="tab"
                                       href="#chooseRoom" role="tab" aria-controls="chooseRoom"
                                       aria-selected="true">
                                        <h4>Chọn phòng</h4>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                       role="tab" aria-controls="profile" aria-selected="false">
                                        <h4>Thông tin khách hàng</h4>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="confirm-tab" data-bs-toggle="tab" href="#confirm"
                                       role="tab" aria-controls="confirm" aria-selected="false">
                                        <h4>Xác nhận</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <form th:action="@{/receptionist-save-booking}" th:object="${booking}" method="post"
                              class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="chooseRoom" role="tabpanel"
                                 aria-labelledby="chooseRoom-tab">
                                <div
                                        class=" navSearch row justify-content-center">
                                    <div class="col-lg-2">Ngày nhận phòng:
                                        <input th:field="*{checkIn}" id="checkIn" type="date" class="form-control">
                                    </div>
                                    <div class="col-lg-2">Ngày trả phòng:
                                        <input th:field="*{checkOut}" id="checkOut" type="date" class="form-control">
                                    </div>
                                    <div class="col-lg-3">Loại phòng:
                                        <select id="roomType" class="form-select">
                                            <option selected></option>
                                            <option th:each="category, categoryStat : ${categories}"
                                                    th:value="${category.getRoomCategoryId()}"
                                                    th:text="${category.getRoomCategoryName()}"></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 mt-4">
                                        <button id="search-btn" type="button" class="btn btn-dark">Tìm kiếm</button>
                                    </div>
                                </div>


                                <div class="row mt-5 ms-1 me-1 ">
                                    <h3>Kết quả:</h3>
                                    <div class="d-flex flex-column">
                                        <table id="roomTable"
                                               class="table table-striped table-hover border align-baseline text-center shadow">
                                            <thead class="table-dark">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Loại phòng</th>
                                                <th scope="col">Còn trống</th>
                                                <th scope="col">Ưu đãi</th>
                                                <th scope="col">Giường</th>
                                                <th scope="col">Diện tích(m2)</th>
                                                <th scope="col">Người lớn</th>
                                                <th scope="col">Trẻ em</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--                                            <tr>-->
                                            <!--                                                <th scope="row">1</th>-->
                                            <!--                                                <td>Phòng Tiêu Chuẩn</td>-->
                                            <!--                                                <td>10</td>-->
                                            <!--                                                <td>Bữa sáng</td>-->
                                            <!--                                                <td>1 giường lớn</td>-->
                                            <!--                                                <td>40</td>-->
                                            <!--                                                <td>2</td>-->
                                            <!--                                                <td>1</td>-->
                                            <!--                                                <td>1.200.000</td>-->
                                            <!--                                                <td>-->
                                            <!--                                                    <button class="btn button btn-dark">Thêm</button>-->
                                            <!--                                                </td>-->
                                            <!--                                            </tr>-->
                                            <!--                                            <tr>-->
                                            <!--                                                <th scope="row">2</th>-->
                                            <!--                                                <td>Phòng Cao Cấp</td>-->
                                            <!--                                                <td>5</td>-->
                                            <!--                                                <td>Bữa sáng</td>-->
                                            <!--                                                <td>2 giường nhỏ</td>-->
                                            <!--                                                <td>60</td>-->
                                            <!--                                                <td>2</td>-->
                                            <!--                                                <td>1</td>-->
                                            <!--                                                <td>1.700.000</td>-->
                                            <!--                                                <td>-->
                                            <!--                                                    <button class="btn button btn-dark">Thêm</button>-->
                                            <!--                                                </td>-->
                                            <!--                                            </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row mt-4 ms-1 me-1">
                                    <h3>Phòng đã chọn:</h3>

                                    <div class="d-flex flex-column">
                                        <table id="selectedRoomTable"
                                               class="table table-striped table-hover border align-baseline text-center shadow">
                                            <thead class="table-dark">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Loại phòng</th>
                                                <th scope="col">Phòng đã đặt</th>
                                                <th scope="col">Ưu đãi</th>
                                                <th scope="col">Giường</th>
                                                <th scope="col">Diện tích(m2)</th>
                                                <th scope="col">Người lớn</th>
                                                <th scope="col">Trẻ em</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row mt-2 ms-3 me-3">
                                    <h4>Tổng tiền cần thanh toán:</h4>
                                    <div class="col-lg-12 border shadow">
                                        <div class="row me-5 mt-2">
                                            <div class="col ms-3">
                                                <h6 class="fw-bold">Tiền phòng:</h6>
                                            </div>
                                            <div id="roomPrice" class="col text-end"><a>0</a></div>
                                        </div>
                                        <div class="row mt-2 me-5">
                                            <div class="col ms-3">
                                                <h6 class="fw-bold">Thuế(10%):</h6>
                                            </div>
                                            <div class="col text-end"><a id="taxPrice">0</a></div>
                                        </div>
                                        <div class="row mt-2 me-5">
                                            <div class="col ms-3">
                                                <h6 class="fw-bold">Tổng:</h6>
                                            </div>
                                            <div class="col text-end"><span class="fw-bold"
                                                                            id="totalPrice">0</span></div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-3">
                                    <div class="btn-end text-center">
                                        <!-- Sử dụng lớp 'text-center' để căn giữa nút -->
                                        <button type="button" class="btn btn-secondary"
                                                style="margin-right: 2rem;margin-bottom: 2rem;">Quay
                                            lại
                                        </button>
                                        <button type="button" class="btn btn-dark" style="margin-bottom: 2rem;">Tiếp
                                            tục
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="container">
                                    <div class="row mt-3  me-1">
                                        <h4 class="fw-bold">Khách hàng:</h4>
                                        <hr>
                                        <div class="col-lg-4">
                                            <div class="row ms-1">
                                                <h6>(*) Họ tên:</h6>
                                                <input onchange="updateText('nameCustomer', 'confirmName')" type="text"
                                                       class="form-control"
                                                       th:field="*{name}"
                                                       id="nameCustomer"
                                                       placeholder="Nguyễn Ngọc Khoa">
                                            </div>
                                            <div class="row mt-2 ms-1">
                                                <h6>(*) Số điện thoại:</h6>
                                                <input onchange="updateText('phoneCustomer', 'confirmPhone')"
                                                       th:field="*{phone}" type="text" class="form-control"
                                                       id="phoneCustomer"
                                                       placeholder="0388 663 366">
                                            </div>
                                            <div class="row mt-2 ms-1">
                                                <h6>(*) Địa chỉ:</h6>
                                                <input onchange="updateText('addressCustomer', 'confirmAddress')"
                                                       th:field="*{address}" type="text" class="form-control"
                                                       id="addressCustomer"
                                                       placeholder="Thạch Hòa - Thạch Thất - Hà Nội">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                        </div>
                                        <div class="col-lg-4 ">
                                            <div class="row">
                                                <h6>(*) Email:</h6>
                                                <input onchange="updateText('emailCustomer', 'confirmEmail')"
                                                       th:field="*{email}" type="text" class="form-control"
                                                       id="emailCustomer"
                                                       placeholder="nnkhoa36@gmail.com">
                                            </div>
                                            <div class="row mt-2">
                                                <h6>Ghi chú:</h6>
                                                <input onchange="updateText('noteCustomer', 'confirmNote')"
                                                       th:field="*{notes}" type="text" class="form-control"
                                                       id="noteCustomer"
                                                       placeholder="">
                                            </div>
                                            <div class="row mt-2">
                                                <h6>Phương thức đặt:</h6>
                                                <select th:field="*{paymentTypeId}" class="form-select">
                                                    <option value="1" selected>Tại quầy lễ tân</option>
                                                    <option value="2">Chuyển khoản</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5 ">
                                        <h4 class="fw-bold">Thông tin phòng & dịch vụ:</h4>
                                        <hr>
                                        <h6>Mã đặt phòng: <a>1001</a>
                                        </h6>
                                        <h6>Số phòng đặt: <a id="bookedRoomNumber">0</a>
                                        </h6>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="d-flex flex-column">
                                            <table id="bookingInformationRooms"
                                                   class="table table-striped table-hover border align-baseline text-center">
                                                <thead class="table-dark">
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Loại phòng</th>
                                                    <th scope="col">Số lượng phòng</th>
                                                    <th scope="col">Ngày nhận phòng</th>
                                                    <th scope="col">Ngày trả phòng</th>
                                                    <th scope="col">Giường</th>
                                                    <th scope="col">Diện tích</th>
                                                    <th scope="col">Ưu đãi</th>
                                                    <th scope="col">Giá</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row mt-4 ms-2 me-1">
                                        <h4 class="fw-bold">Tổng tiền cần thanh toán:</h4>
                                        <div class="col-lg-12 border shadow">
                                            <div class="row mt-2">
                                                <div class="col ms-3">
                                                    <h6 class="fw-bold">Tiền phòng:</h6>
                                                </div>
                                                <div class="col text-end"><a>2.900.000</a></div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col ms-3">
                                                    <h6 class="fw-bold">Thuế(10%):</h6>
                                                </div>
                                                <div class="col text-end"><a>370.000</a></div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col ms-3">
                                                    <h6 class="fw-bold">Tổng:</h6>
                                                </div>
                                                <div class="col text-end"><span class="fw-bold">3.270.000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="btn-end text-center">
                                        <!-- Sử dụng lớp 'text-center' để căn giữa nút -->
                                        <button type="button" class="btn btn-secondary"
                                                style="margin-right: 2rem; margin-top: 2rem;">Quay
                                            lại
                                        </button>
                                        <button type="button" class="btn btn-dark" style="margin-right: 2rem; margin-top:
                                            2rem;">Tiếp tục
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="confirm" role="tabpanel" aria-labelledby="confirm-tab">
                                <div class="container">
                                    <div class="row mt-3 ms-1 me-1">
                                        <div class="row">
                                            <h4 class="fw-bold">Khách hàng:</h4>
                                        </div>
                                        <div class="row border shadow ms-1">
                                            <div class="col-lg-8">
                                                <div class="row me-5">
                                                    <div class="col ms-2 mt-2">
                                                        <h6 class="fw-bold">Họ tên: <a id="confirmName"></a></h6>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 me-5">
                                                    <div class="col  ms-2">
                                                        <h6 class="fw-bold">Số điện thoại: <a id="confirmPhone"></a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 me-5">
                                                    <div class="col  ms-2">
                                                        <h6 class="fw-bold">Địa chỉ: <a id="confirmAddress"></a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 ">
                                                <div class="row me-5 mt-2">
                                                    <h6 class="fw-bold">Email: <a id="confirmEmail"></a></h6>
                                                </div>
                                                <div class="row mt-2 me-5">
                                                    <h6 class="fw-bold">Ghi chú: <a id="confirmNote"></a></h6>
                                                </div>
                                                <div class="row mt-2 me-5">
                                                    <h6 class="fw-bold">Phương thức đặt: <a>Tại quầy lễ tân</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <h4 class="fw-bold">Thông tin phòng & dịch vụ:</h4>
                                        <hr>
                                        <h6>Mã đặt phòng: <a>1001</a>
                                        </h6>
                                        <h6>Số phòng đặt: <a>2</a>
                                        </h6>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="d-flex flex-column">
                                            <table
                                                    class="table table-striped table-hover border align-baseline text-center">
                                                <thead class="table-dark">
                                                <tr>
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Loại phòng</th>
                                                    <th scope="col">Ngày nhận phòng</th>
                                                    <th scope="col">Ngày trả phòng</th>
                                                    <th scope="col">Giường</th>
                                                    <th scope="col">Diện tích</th>
                                                    <th scope="col">Ưu đãi</th>
                                                    <th scope="col">Giá</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="row ms-2">
                                            <h4 class="fw-bold">Thanh toán:</h4>
                                        </div>
                                        <div class="row ms-2">
                                            <div class="col-lg-12 border shadow">
                                                <div class="row me-1 mt-2">
                                                    <div class="col ms-4">
                                                        <h6 class="fw-bold">Tiền phòng:</h6>
                                                    </div>
                                                    <div class="col text-end"><a id="roomPriceConfirm">0</a></div>
                                                </div>
                                                <div class="row mt-2 me-1">
                                                    <div class="col ms-4">
                                                        <h6 class="fw-bold">Thuế(10%):</h6>
                                                    </div>
                                                    <div class="col text-end"><a id="taxPriceConfirm">0</a></div>
                                                </div>
                                                <!--                                                    <div class="row mt-2 me-1">-->
                                                <!--                                                        <div class="col ms-4">-->
                                                <!--                                                            <h6 class="fw-bold">Đặt cọc(50%):</h6>-->
                                                <!--                                                        </div>-->
                                                <!--                                                        <div class="col text-end"><a>1.635.000</a></div>-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="row mt-2 me-1">-->
                                                <!--                                                        <div class="col ms-4">-->
                                                <!--                                                            <h6 class="fw-bold">Thanh toán hết:</h6>-->
                                                <!--                                                        </div>-->
                                                <!--                                                        <div class="col text-end"><a>2.943.000</a></div>-->
                                                <!--                                                    </div>-->
                                                <div class="row mt-2 me-1">
                                                    <div class="col ms-4">
                                                        <h6 class="fw-bold">Tổng:</h6>
                                                    </div>
                                                    <div class="col text-end"><span class="fw-bold"
                                                                                    id="totalPriceConfirm">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-5">
                                            <div class="btn-end text-center">
                                                <!-- Sử dụng lớp 'text-center' để căn giữa nút -->
                                                <button type="button" class="btn btn-secondary"
                                                        style="margin-right: 2rem; margin-top: 2rem; margin-bottom: 2rem;">
                                                    Quay
                                                    lại
                                                </button>
                                                <button type="submit" class="btn btn-dark" style="margin-right: 2rem; margin-top:
                                                    2rem;margin-bottom: 2rem;">Tiếp tục
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bookingDetailsContainer">
                                <!-- Dynamic input fields will be added here -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
</body>


<script th:inline="javascript">
    let room = null;
    let selectRoomCount = 1;


    function updateText(inputId, textId) {
        document.getElementById(textId).textContent = document.getElementById(inputId).value;
    }

    $(document).ready(function () {
        function addBookingDetailID(categoriId) {
            var container = document.getElementById('bookingDetailsContainer');
            var index = container.children.length; // Get the current index

            var detailDiv = document.createElement('div');
            detailDiv.innerHTML = `
            <input type="hidden" value=${categoriId} name="bookingDetails[${index}].roomCategoryId" />
            <input type="hidden" value="1" name="bookingDetails[${index}].roomNumber" />
            <!-- Add other fields of CreateHotelBookingDetailDTO as needed -->
        `;

            container.appendChild(detailDiv);
        }


        $("#search-btn").on("click", function () {
            // Get values from input fields
            var checkIn = $("#checkIn").val();
            var checkOut = $("#checkOut").val();
            var roomType = $("#roomType").val();
            var roomNumber = $("#roomNumber").val();

            console.log(roomType);
            // Create the data object
            var searchData = {
                checkIn: checkIn,
                checkOut: checkOut,
                categoryId: roomType,
                roomNumber: roomNumber,
            };

            // Make an AJAX request to the backend
            $.ajax({
                type: "POST",
                url: "/search-room",  // Replace with the actual backend endpoint
                contentType: "application/json",  // Set content type to JSON
                data: JSON.stringify(searchData),  // Convert the object to JSON string
                success: function (response) {
                    // Handle the success response from the server
                    updateTableView(response);
                    // You can update your UI or perform additional actions here
                },
                error: function (error) {
                    console.error("Error during AJAX request:", error);
                    // Handle errors if needed
                }
            });
        });


        function addBookingDetail(bookRoom) {
            // Select the table body
            const tbody = $("#selectedRoomTable > tbody");
            var index = selectRoomCount - 1;
            console.log(tbody);

            // Update the table with new data
            console.log("ROOM:" + room.roomCategoryName);
            var row = $("<tr></tr>");
            row.id = room.categoryId;
            row.append("<th scope='row'>" + selectRoomCount + "</th>");
            row.append("<td>" + room.roomCategoryName + "</td>");
            // Add other columns based on room properties

            // Example columns for demonstration, replace with actual data
            row.append("<td>" + room.bookedNumber + "</td>");
            row.append("<td>" + room.description + "</td>");
            row.append("<td>" + room.bed + "</td>");
            row.append("<td>" + room.square + "</td>");
            row.append("<td>" + room.numberPerson + "</td>");
            row.append("<td>" + room.numberPerson + "</td>");
            row.append("<td>" + room.price + "</td>");
            // row.append('<input  th:value="1" type="hidden" th:field="*{bookingDetails[__' + index + '__].roomNumber}" />');
            // row.append('<input  th:value="' + room.categoryId + '" type="hidden" th:field="*{bookingDetails[__' + index + '__].roomCategoryId}" />');

            const buttonColumn = $("<td></td>");
            const addButton = $("<button></button>")
                .addClass("btn button btn-dark")
                .html("<i class='bi bi-trash'></i>")
                .on("click", function () {
                    console.log("CLICK");
                    // Add your logic here for button click
                });
            buttonColumn.append(addButton);

            row.append(buttonColumn);
            // Append the row to the table body
            tbody.append(row);
            calculateTotalPrice();
            selectRoomCount++;
            updateInformationOfBooking();
        }

        function updateInformationOfBooking() {
            const tbody = $("#bookingInformationRooms > tbody");
            const childNumber = document.querySelector("#bookingInformationRooms > tbody").childElementCount + 1;
            console.log(tbody);

            var row = $("<tr></tr>");
            row.id = room.categoryId;
            row.append("<th scope='row'>" + childNumber + "</th>");
            row.append("<td>" + room.roomCategoryName + "</td>");
            // Add other columns based on room properties

            // Example columns for demonstration, replace with actual data
            row.append("<td>" + 1 + "</td>");
            row.append("<td>" + room.description + "</td>");
            row.append("<td>" + room.bed + "</td>");
            row.append("<td>" + room.square + "</td>");
            row.append("<td>" + room.numberPerson + "</td>");
            row.append("<td>" + room.numberPerson + "</td>");
            row.append("<td>" + room.price + "</td>");
            // Append the row to the table body
            tbody.append(row);
            $("#bookedRoomNumber").text(selectRoomCount - 1);
        }

        function updateTableView(response) {
            // Assuming the response is a JSON object with room details
            room = JSON.parse(response);
            // Select the table body
            const tbody = $("#roomTable tbody");

            // Clear existing table rows
            tbody.empty();

            // Update the table with new data
            console.log("ROOM:" + room.roomCategoryName);
            var row = $("<tr></tr>");
            row.append("<th scope='row'>1</th>");
            row.append("<td>" + room.roomCategoryName + "</td>");
            // Add other columns based on room properties

            // Example columns for demonstration, replace with actual data
            row.append("<td>" + room.numberAvailable + "</td>");
            row.append("<td>" + room.description + "</td>");
            row.append("<td>" + room.bed + "</td>");
            row.append("<td>" + room.square + "</td>");
            row.append("<td>" + room.numberPerson + "</td>");
            row.append("<td>" + room.numberPerson + "</td>");
            row.append("<td>" + room.price + "</td>");

            const buttonColumn = $("<td></td>");
            const addButton = $("<button type='button'></button>")
                .addClass("btn button btn-dark")
                .text("Thêm")
                .on("click", function () {
                    console.log("CLICK");
                    addBookingDetail(room);
                    addBookingDetailID(room.roomCategoryId);
                    // Add your logic here for button click
                });
            buttonColumn.append(addButton);

            row.append(buttonColumn);
            // Append the row to the table body
            tbody.append(row);

        }

        function calculateTotalPrice() {
            // Select the tbody element within the table
            const tbody = $("#selectedRoomTable tbody");
            const roomPriceE = $("#roomPrice");
            const taxPriceE = $("#taxPrice");
            const totalPriceE = $("#totalPrice");
            const roomPriceConfirmE = $("#roomPriceConfirm");
            const taxPriceConfirmE = $("#taxPriceConfirm");
            const totalPriceConfirmE = $("#totalPriceConfirm");

            // Initialize the total price
            let roomPrice = 0;

            // Iterate through each row in the tbody
            tbody.find("tr").each(function () {
                // Get the value in the "Giá" column (assuming it's the 8th column, index 7)
                const priceString = $(this).find("td:eq(7)").text().trim();

                // Convert the price string to a number (assuming the price is in Vietnamese dong format)
                const price = parseFloat(priceString.replace(/\D/g, ''));

                // Add the price to the total
                roomPrice += isNaN(price) ? 0 : price;
            });

            let taxPrice = roomPrice * 0.1;
            let totalPrice = taxPrice + roomPrice;

            roomPriceE.text(formatNumberWithPeriods(roomPrice));
            taxPriceE.text(formatNumberWithPeriods(taxPrice));
            totalPriceE.text(formatNumberWithPeriods(totalPrice));
            roomPriceConfirmE.text(formatNumberWithPeriods(roomPrice));
            taxPriceConfirmE.text(formatNumberWithPeriods(taxPrice));
            totalPriceConfirmE.text(formatNumberWithPeriods(totalPrice));
            // Log or use the total price as needed
            console.log("Total Price: " + totalPrice);
            // You can use the 'totalPrice' variable as needed in your application
        }

        function formatNumberWithPeriods(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        }


    });

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/032d11eac3.js" crossorigin="anonymous"></script>
</html>