<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lễ tân</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
	<script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/manager.css" />
	<link rel="stylesheet" href="/assets/css/sidebar.css">
	<script src="/assets/js/sidebar.js"></script>
	<script src="/assets/js/manager.js"></script>
	<link rel="stylesheet" href="/assets/css/header-footer.css">
	<link rel="stylesheet" href="/assets/css/header_footer_style.css">

	<!-- Include Bootstrap-datepicker CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

	<!-- Include Bootstrap-datepicker JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

	<!-- Include Bootstrap-datepicker localization for Vietnamese -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>


</head>

<body>

	<body data-bs-target=".navbar" data-bs-offset="100"></body>
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header border-bottom">
				<img src="/assets/img/Orilogo.png" class="img-fluid">
			</div>

			<ul class="list-unstyled components border-bottom">
				<p class="border-bottom fw-bold"><i class="bi bi-person-badge-fill pe-2"></i>Lễ tân</p>
				<li>
					<a href="#"><i class="fa-regular fa-rectangle-list pe-2"></i>Danh sách phòng</a>
				</li>
				<li>
					<a href="./createRoomReceptionist"><i class="fa-solid fa-check-double pe-2"></i>Đặt phòng</a>
				</li>
				<li>
					<a href="./checkOutReceptionist"><i class="fa-solid fa-right-from-bracket pe-2"></i>Trả phòng</a>
				</li>
				<li>
					<a href="./listRoomInUse"><i class="fa-solid fa-house-user pe-2"></i>Phòng đang sử dụng</a>
				</li>
				<li>
					<a href="./listBookingReceptionist"><i class="fa-solid fa-bell pe-2"></i>Đặt trước</a>
				</li>
				<li>
					<a href="./listHistoryBooking"><i class="fa-solid fa-clipboard pe-2"></i>Lịch sử đặt phòng</a>
				</li>
			</ul>

		</nav>

		<!-- Page Content Holder -->
		<div id="content">

			<nav class="navbar navbar-expand-lg shadow ">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="navbar-btn">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-align-justify"></i>
					</button>


					<button class=" btn bi-person-circle " style="font-size: 2em;"></button>
				</div>
			</nav>

			<div class="table-responsive">
				<p class="fw-bold"> Các yêu cầu hoàn tiền</p>
				<table id="bookingTable" class="table table-striped">
					<thead>
						<tr class="table-dark">
							<th>STT</th>
							<th>Customer Name</th>
							<th>Email</th>
							<th>Address</th>
							<th>Phone</th>
							<th>Check In</th>
							<th>Check Out</th>
							<th>Total Price</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="hotelbooking, iterStat : ${bookings}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${hotelbooking.name}"></td>
							<td th:text="${hotelbooking.email}"></td>
							<td th:text="${hotelbooking.address}"></td>
							<td th:text="${hotelbooking.phone}"></td>
							<td th:text="${hotelbooking.checkIn}"></td>
							<td th:text="${hotelbooking.checkOut}"></td>
							<td th:text="${hotelbooking.totalPrice}"></td>
							<td th:text="${hotelbooking.statusId}"></td>
							<td>
								<button type="button" id="btn-detail" class="btn btn-dark"
									th:attr="data-booking-id=${hotelbooking.hotelBookingId}">Chi tiết</button>
								<button type="button" id="btn-checkin" class="btn btn-dark"
									th:attr="data-booking-id=${hotelbooking.hotelBookingId}" data-toggle="modal"
									data-target="#confirmCheckInModal">Check In</button>

							</td>
						</tr>
					</tbody>
				</table>




			</div>

		</div>

	</div>
	<div class="modal fade" id="confirmCheckInModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmCheckInModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmCheckInModalLabel">Xác nhận Check In</h5>
				</div>
				<div class="modal-body">
					<p>Bạn có chắc chắn muốn thay đổi trạng thái đặt phòng này thành "Đã Check In"?</p>
				</div>
				<div class="modal-footer">
					<button type="button" id="close2" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-primary" id="confirmCheckInButton">Xác nhận</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="bookingDetailsModal" tabindex="-1" role="dialog"
		aria-labelledby="bookingDetailsModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="bookingDetailsModalLabel">Chi tiết đặt phòng</h5>
				</div>
				<div class="modal-body">
					<p><strong>Tên khách hàng:</strong> <span id="customerName"></span></p>
					<p><strong>Email:</strong> <span id="customerEmail"></span></p>
					<p><strong>Địa chỉ:</strong> <span id="customerAddress"></span></p>
					<p><strong>Số điện thoại:</strong> <span id="customerPhone"></span></p>
					<p><strong>Ngày nhận phòng:</strong> <span id="checkInDate"></span></p>
					<p><strong>Ngày trả phòng:</strong> <span id="checkOutDate"></span></p>
					<p><strong>Tổng giá tiền:</strong> <span id="totalPrice"></span></p>
					<p><strong>Trạng thái:</strong> <span id="bookingStatusId"></span></p>
				</div>
				<div class="modal-footer">
					<button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				</div>

			</div>
		</div>
	</div>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>



	<script>
		$(document).ready(function () {
			var table = $('#bookingTable').DataTable({
				"paging": true,
				"pageLength": 5,
				"searching": true
			});

			$('#bookingTable').on('click', '#btn-detail', function () {
				var data = table.row($(this).parents('tr')).data();

				$("#customerName").text(data[1]);
				$("#customerEmail").text(data[2]);
				$("#customerAddress").text(data[3]);
				$("#customerPhone").text(data[4]);
				$("#checkInDate").text(data[5]);
				$("#checkOutDate").text(data[6]);
				$("#totalPrice").text(data[7]);
				$("#bookingStatusId").text(data[8]);
				$("#bookingDetailsModal").modal("show");
			});
			$('#bookingDetailsModal').on('hidden.bs.modal', function () {
				// Đặt các hành động bạn muốn thực hiện khi modal được đóng ở đây
				console.log('Modal đã được đóng');
			});

			$('#close').on('click', function () {
				$('#bookingDetailsModal').modal('hide')
			});
			$('#bookingTable').on('click', '#btn-checkin', function () {
				var hotelBookingId = $(this).attr("data-booking-id"); // Lấy hotelBookingId từ thuộc tính data-booking-id

				// Mở modal xác nhận "Check In"
				$('#confirmCheckInModal').modal('show');

				// Xử lý khi người dùng xác nhận "Check In"
				$('#confirmCheckInButton').on('click', function () {
					// Thực hiện yêu cầu POST để thay đổi trạng thái đặt phòng
					$.post("/checkIn", {hotelBookingId: hotelBookingId}, function (data) {
						// Xử lý phản hồi từ máy chủ (nếu cần)
						console.log(data);
						// In ra thông báo "Checkin thành công"
						alert("Checkin thành công");

						// Làm tải lại trang
						location.reload();
						// Đóng modal xác nhận "Check In"
						$('#confirmCheckInModal').modal('hide');
						// Cập nhật giao diện nếu cần
					});
				});
			});
			$('#close2').on('click', function () {
				$('#confirmCheckInModal').modal('hide')
			});
		});

	</script>
	<section th:replace="~{footer :: footer}"></section>
</body>

</html>